{% extends "layout.html" %}
{% block content %}
  <div class="fullbg" id="fullbg">
    <img src="static/fullbg.jpg">
  </div>
  <div>
    <a href="home" class="button back-button" id="back">Back to Home</a>
  </div>
  <div class="page_bar" id="pagebar">
    <p>Page: </p>
    <p onClick="changePage('back')" id="prev_page"><<</p>
    <p id="page_num">1</p>
    <p onClick="changePage('forward')" id="next_page">>></p>
  </div>
  <div class="main_LB">
    <div class="title_jmh">
      LEADERBOARDS
    </div>
    <div class="leaderboard_table">
      <div class="leaderboard_head">
        <div class="leaderboard_box leaderboard_head_box" id="firsthead" style="padding:5px; text-align:center;">
          RANK
        </div>
        <div class="leaderboard_box leaderboard_head_box" id="secondhead" style="padding:5px; text-align:center;">
          NAME
        </div>
        <div class="leaderboard_box leaderboard_head_box" id="thirdhead" style="padding:5px; text-align:center;">
          SCORE
        </div>
      </div>
      <div class="leaderboard_contents">
        <div class="leaderboard_box leaderboard_contents_box" id="firstbox"">
          <div id="ranks">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
          </div>
        </div>
        <div class="leaderboard_box leaderboard_contents_box" id="secondbox"">
          <div id="names">
            {% for person in startLeaderboards %}
              <p>{{ person.username }}</p>
            {% endfor %}
            {% for i in blankRange %}
              <p>---</p>
            {% endfor %}
          </div>
        </div>
        <div class="leaderboard_box leaderboard_contents_box" id="thirdbox"">
          <div id="scores">
            {% for person in startLeaderboards %}
              <p>{{ person.score }}</p>
            {% endfor %}
            {% for i in blankRange %}
              <p>---</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  const fullbg = document.getElementById("fullbg");
  const back = document.getElementById("back");
  const pagebar = document.getElementById("pagebar");
  const firstbox = document.getElementById("firstbox");
  const secondbox = document.getElementById("secondbox");
  const thirdbox = document.getElementById("thirdbox");
  const firsthead = document.getElementById("firsthead");
  const secondhead = document.getElementById("secondhead");
  const thirdhead = document.getElementById("thirdhead");
  fullbg.style.width = Math.round(window.innerWidth) + "px";
  pagebar.style.right = Math.round(0.0569 * window.innerWidth) + "px";
  back.style.width = Math.round(0.144 * window.innerWidth) + "px";
  back.style.left = Math.round(0.0555 * window.innerWidth) + "px";
  back.style.top = Math.round(0.0509 * window.innerHeight) + "px";
  firstbox.style.width = Math.round(0.144 * window.innerWidth) + "px";
  secondbox.style.width = Math.round(0.4115 * window.innerWidth) + "px";
  thirdbox.style.width = Math.round(0.322 * window.innerWidth) + "px";
  firsthead.style.width = Math.round(0.144 * window.innerWidth) + "px";
  secondhead.style.width = Math.round(0.4115 * window.innerWidth) + "px";
  thirdhead.style.width = Math.round(0.322 * window.innerWidth) + "px";


  let numPeopleOnPage = 0;
  var current_page = 1;
  document.getElementById("prev_page").style.color = "gray";
  document.getElementById("prev_page").style.cursor = "default";
  document.getElementById("prev_page").style.textDecoration = "none";


    function changePage(operation) {

      // page changer
      if (operation == "back") {
        if (current_page == "1") {
          return -1
        }
        else {
          current_page = current_page - 1;
          document.getElementById("page_num").innerHTML = current_page.toString();
          if (current_page == 1) {
            document.getElementById("next_page").style.color = "white";
            document.getElementById("next_page").style.cursor = "pointer";
            document.getElementById("next_page").style.textDecoration = "underline";
            document.getElementById("prev_page").style.color = "gray";
            document.getElementById("prev_page").style.cursor = "default";
            document.getElementById("prev_page").style.textDecoration = "none";
          }
          else {
            document.getElementById("prev_page").style.color = "white";
            document.getElementById("prev_page").style.cursor = "pointer";
            document.getElementById("prev_page").style.textDecoration = "underline";
            document.getElementById("next_page").style.color = "white";
            document.getElementById("next_page").style.cursor = "pointer";
            document.getElementById("next_page").style.textDecoration = "underline";
          }
        }
      }
      if (operation == "forward") {
        if (current_page == "10") {
          return -1
        }
        else {
          current_page = current_page + 1;
          document.getElementById("page_num").innerHTML = current_page.toString();
          if (current_page == 10) {
            document.getElementById("prev_page").style.color = "white";
            document.getElementById("prev_page").style.cursor = "pointer";
            document.getElementById("prev_page").style.textDecoration = "underline";
            document.getElementById("next_page").style.color = "gray";
            document.getElementById("next_page").style.cursor = "default";
            document.getElementById("next_page").style.textDecoration = "none";
          }
          else {
            document.getElementById("prev_page").style.color = "white";
            document.getElementById("prev_page").style.cursor = "pointer";
            document.getElementById("prev_page").style.textDecoration = "underline";
            document.getElementById("next_page").style.color = "white";
            document.getElementById("next_page").style.cursor = "pointer";
            document.getElementById("next_page").style.textDecoration = "underline";
          }
        }
      }

      // rank changer
      ranks_list = document.getElementById("ranks");
      ranks_list.innerHTML = "";
      var starting_rank = (current_page * 10) - 9;
      for (var i = 0; i < 10; ++i) {
        ranks_list.innerHTML += "<p>" + (starting_rank + i) + "</p>";
      }

      // name and score changer
      names_list = document.getElementById("names");
      names_list.innerHTML = "";
      scores_list = document.getElementById("scores");
      scores_list.innerHTML = "";

      let nameScoreUpdate = new XMLHttpRequest();
      nameScoreUpdate.open("POST", "/statsupdate", true);
      nameScoreUpdate.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      nameScoreUpdate.send("current_page=" + current_page);
      nameScoreUpdate.onload = function() {
        const nameScoreReturn = JSON.parse(nameScoreUpdate.responseText);
        for (var j = 0; j < 10; ++j) {
          names_list.innerHTML += "<p>" + nameScoreReturn.nameData[j] + "</p>";
          scores_list.innerHTML += "<p>" + nameScoreReturn.scoreData[j] + "</p>";
        }
      }
    }
  </script>

{% endblock content %}
